List Comprehension

In [50]:
zeroes = []
for i in range(10):
    zeroes.append(0)

zeroes

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [51]:
zeroes = [0 for _ in range(2)]
zeroes

[0, 0]

In [52]:
numbers = [i for i in range(5)]

List/ Conditional

In [53]:
#With List Comprehension 
even_nums = [n for n in numbers if n % 2 ==0]
even_nums

[0, 2, 4]

In [54]:
multi_7 = [n for n in range(100) if n % 7 == 0]
multi_7

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [55]:
l = [ 0 for _ in range(10000)]

l = []
for _ in range(10000):
    l.append(0)

In [47]:
# Syntax
numbers = [ 'even' if n % 2 == 0 else 'odd' for n in range(5)]
numbers

['even', 'odd', 'even', 'odd', 'even']

Function Structure Recap

In [48]:
def square(x : int) -> int:
    return x ** 2

square(4)

16

In [49]:
def get_three_chars(name: str) ->tuple:

SyntaxError: incomplete input (3964956534.py, line 2)

In [11]:
def greet_person(name,greeting = "Hi!"):
    print(greeting,name)

greet_person("Pop" , "Hey!")

Hey! Pop

*args, **kwargs

In [12]:
def greet_person(name, age = 10, *args, **kwargs):
    print(args, kwargs)

greet_person("Pop")

() {}

In [ ]:
name2 = 5
name3 = 4
name6 = 6
def my_print(*args, **kwargs):

Recursive Function

In [ ]:
def f(x):
    x += 1
    print(x)
    return f(x)

In [13]:
def factorial(x):
    if x == 1:
        return 1
    return x * factorial(x - 1)

factorial (5)

120

In [ ]:
import time

t1 = time.time()
result = factorial (5)
t2 = time.time()
print('Time usage for factorial 5:' , t2 - t1)
result = factorial (800)
t3 = time.time()
print('Time usage for factorial 500:',t3 - t1)

Anonymous Function

In [16]:
f = lambda x: x**2
f(2)

In [17]:
def square(x):
    return x ** 2

In [18]:
f = lambda x,y: x * y
f (4,5)

20

In [21]:
f6 = lambda x : x.append(1)

Using Map with traditional function

In [ ]:
my_list = [1, 2, 3, 5]
def squared(i):
    return i ** 2

result1 = map(squared, my_list)
result 2 = list(map(squared, my_list))
result1, result2

In [ ]:
my_list = []

def convert_to_int(i):
    return i // 1

In [ ]:
import math

my_list = [ 1.2, 2.3, math.pi, 4/3]

result1 = list(map(lambda))

In [23]:
my_list = [1, 2, 3, 4]
result = list (map(lambda x: x **2, my_list))
result

[1, 4, 9, 16]

Global & Local Scope

In [27]:
very_important_num = 21

def print_that_num ():
    print(very_important_num)

print_that_num()

21

In [28]:
def print_my_own_value():
    very_important_num = 2
    print(very_important_num)

print_my_own_value()

2

In [ ]:
def add_to_list_v2(num, target):
    target = target.copy()

# Expressions for Value in iterable if condition

# Tests

In [4]:
# Write a Python function to find the max of any numbers of arguments (don't use the build in function `max()

def find_max(*args : tuple) -> int:
    args = list(args)
    args.sort()
    return args[-1]

find_max(69,1,2,7,3,4)

69

In [6]:
#Write a function that computes the volume of a sphere given its radius.
#v = 4/3 pi r **3

def sphere_vol(radi : float) -> float:
    vol = (4/3) * 3.14 * (radi ** 3)
    return vol

sphere_vol(3)

113.03999999999999

In [1]:
#Write a function that checks whether a number is in a given range (Inclusive of high and low)

def is_in_range(target : int, low : int, high : int) -> bool:
    if low <= target <= high:
        return True
    else:
        return False
    
is_in_range(10, 8, 20)

True

In [19]:
#Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

def count_letters(my_string : str) -> tuple:
    num_upper = 0
    num_lower = 0

    for char in my_string:
        if char.isupper():
            num_upper += 1
        elif char.islower():
            num_lower += 1
    return num_upper,num_lower

count_letters("AKbjjjj")

(2, 5)

In [22]:
#Write a Python function that takes a list and returns a new list with unique elements of the first list.
#Please use list comprehension as well.

def uni_elements(my_list : list) -> list:
    unique = set(my_list)
    return [item for item in unique]

uni_elements([1, 2, 3, 1, 2, 4, 5])

[1, 2, 3, 4, 5]

In [5]:
# Write a Python function to check whether a string is pangram or not.

def check_pan (my_string : str) -> bool:
    my_string = my_string.lower()
    l = [char for char in my_string if char.isalpha()]
    return len(set(l)) == 26

print(check_pan("The quick brow fox jumps over the lazy dog@123"))

False

In [3]:

#Write a Python function to calculate the fibonacci number of index i (starts with 1). The function accepts the number as an argument and return a single number. The fibonacci sequence starts with 1,1,2,3,5,8,13,21,.... Therefore, fibonacci of index 6 is number 8.


def fib(i : int) -> int: 
    if i == 1:
        return 1
    if i == 0:
        return 0

    return fib(i-1) + fib(i-2)

fib(6)

8

In [1]:
#Create a function which finds the length of each word in the phrase (broken by spaces) and return the values in a list. The function will have an input of a string, and output a list of integers.

def list_int(input : str) -> list:
    final_list = []
    l = input.split()
    print(l)
    for word in l:
        final_list += [len(word)]
    
    return final_list

list_int("Hello this is Bo")

['Hello', 'this', 'is', 'Bo']

[5, 4, 2, 2]

In [ ]:
#Write a function that accepts a list of tuples containing the name of the student and their score, sort them by the score from highest to lowest.

# [(MgMg , 21), (Aung Aung, 43)]
# [(Aung Aung, 43),(MgMg , 21)]

def list_students(input : list) -> list:
    input.sort(key = lambda eachTuple : eachTuple[1])
    input.reverse()
    return input

In [2]:
#Write a python function that accepts a list of tuples of length 2, where each tuple contains student name and their scores respectively.
#The function should return the name of the student whose got maximum score. Using map(), and max() function is strictly prohibited.

# [("Mg", 94), ("Bo",55), ("Sai",69)]
# "Mg"

def list_students(input : list) -> str:
    input.sort(key = lambda eachtuple : eachtuple[1])
    input.reverse()

    return input[0][0]

list_students([("Mg", 94), ("Bo",55), ("Sai",69)])

<function list_students at 0x0000023D32961BC0>

'Mg'